<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13E28</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>LogiWheelDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.logitech.driver.LogiWheelDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LogiWheelDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6C131e</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A383</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0620</string>
	<key>DTXcodeBuild</key>
	<string>6C131e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>G29DrivingForceRaceWheelPCHide</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>bcdDevice</key>
			<integer>35072</integer>
			<key>idProduct</key>
			<integer>4974</integer>
			<key>idVendor</key>
			<integer>1133</integer>
		</dict>
		<key>G29DrivingForceRacingWheelPS3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.logitech.driver.LogiWheelDriver</string>
			<key>IOClass</key>
			<string>WheelUSBHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>4944</integer>
			<key>idProduct</key>
			<integer>49812</integer>
			<key>idVendor</key>
			<integer>1133</integer>
		</dict>
		<key>G29DrivingForceRacingWheelPS4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.logitech.driver.LogiWheelDriver</string>
			<key>IOClass</key>
			<string>WheelUSBHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>35072</integer>
			<key>idProduct</key>
			<integer>49760</integer>
			<key>idVendor</key>
			<integer>1133</integer>
		</dict>
		<key>G920DrivingForceRacingWheelPC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.logitech.driver.LogiWheelDriver</string>
			<key>IOClass</key>
			<string>WheelUSBHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>49761</integer>
			<key>idVendor</key>
			<integer>1133</integer>
		</dict>
		<key>G920WheelInterface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.logitech.driver.LogiWheelDriver</string>
			<key>IOClass</key>
			<string>WheelCalibrate</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>49761</integer>
			<key>idVendor</key>
			<integer>1133</integer>
		</dict>
		<key>LogiWheelFilter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.logitech.driver.LogiWheelDriver</string>
			<key>IOClass</key>
			<string>LogiWheelDriver</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>IOUserClientClass</key>
			<string>IOLogiWheelUserClient</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Logitech. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>720.4.4</string>
		<key>com.apple.iokit.IOUSBHIDDriver</key>
		<string>705.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.5</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.5</string>
	</dict>
</dict>
</plist>
